<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="soporte, reparacion de pc, periféricos, mantenimiento de pc, backup, ayuda pc lenta, instalacion de windows, formateo, disco rigido, disco solido, auriculares, gabinete, actualizacion de pc">
    <meta name="Description" content="Tenemos los técnicos más especializados en diferentes ramas de la tecnología para que sin dudas podamos ayudarte con tus necesidades">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
    <title id="Title">TecniPC | Productos y servicios</title>
</head>
<body id="grilla-gral">
    <header id="header-navegacion">
        <nav class="navbar navbar-expand-lg bg-light w-100">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">
                    <img src="../img/logo-inicio.png" alt="Logo" class="logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navegacion-web">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="../index.html">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="../pages/QuienesSomos.html">Quienes somos</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="../pages/Servicios.html">Servicios</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="../pages/Galeria.html">Galeria</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="../pages/Contacto.html">Contacto</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <h1>TecniPC</h1>
        <h2>Login</h2>
    </header>

    <main class="container">
        <form id="loginForm" class="form-group w-50">
            <label>Email</label>
            <input type="email" id="email" name="email" class="form-control" required>
            <label>Password</label>
            <input type="password" id="password" name="password" class="form-control" required>
            <button type="submit" class="btn btn-outline-dark w-100 mt-3">Enviar</button>
        </form>

        <div>
            <a class="btn btn-dark mt-5" href="/api/sessions/github">Github</a>
        </div>

    </main>

    <footer id="footer">
        Web creada por Adrián Fernández. Todos los derechos reservados.
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const apiUrl = 'http://localhost:8000';  

        $(document).ready(function() {

            // Crear un carrito en caso de que no exista y el usuario esté logueado
            const token = localStorage.getItem('token');
            if (!localStorage.getItem('cartId') && token) {
                createCart(token);
            }

            // Manejar el envío del formulario de login
            $('#loginForm').submit(function(event) {
                event.preventDefault();
                const email = $('#email').val();
                const password = $('#password').val();
                login(email, password);
            });
        });

    // Función para manejar el login
        function login(email, password) {
            $.ajax({
                //url: `${apiUrl}/api/sessions/login`,
                url: '/api/sessions/login',
                method: 'POST',
                data: { email, password },
                success: function(response) {
                    if (response.status === 'success') {
                        // Almacenar el token en el almacenamiento local
                        localStorage.setItem('token', response.token);
                        
                        // Crear el carrito una vez que el usuario esté logueado
                            createCart(response.token);

                        // Redirigir a la raíz de la web
                        window.location.href = response.redirectTo;
                    } else {
                        alert('Error: ' + response.error);
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.error('Error en el login:', textStatus, errorThrown);
                    alert('Error en el login: ' + textStatus);
                }
            });
        }

        function createCart(token) {
            $.ajax({
                url: `${apiUrl}/api/cartsDB`,
                method: 'POST',
                contentType: 'application/json',
                headers: {
                    'Authorization': `Bearer ${token}` // Enviar el token en el encabezado
                },
                success: function(response) {
                    console.log('Respuesta del servidor:', response);
                    if (response && response.payload && response.payload.id) {
                        // Guarda el ID del carrito en el almacenamiento local
                        localStorage.setItem('cartId', response.payload.id);
                        console.log("Carrito creado con ID:", response.payload.id);
                    } else {
                        console.error('Error al crear el carrito:', response);
                        Swal.fire('Error', 'No se pudo crear el carrito', 'error');
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.error('Error al crear el carrito:', textStatus, errorThrown);
                    Swal.fire('Error', 'No se pudo crear el carrito', 'error');
                }
            });
        }

        
    </script>
</body>
</html>